* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body {
    height: 100%;
}

h1 {
    font-weight: bold;
    margin: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #1F2937;
    align-items: center;
}

.logo {
    margin-right: auto;
    width: 150px;
}

ul {
    list-style: none;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 100px;
    background-color: #1F2937;
    color: aliceblue;
}

.hero-text {
    max-width: 60ch;
}

.hero-image {
    width: 400px;
}

.person-photo {
    height: 200px;
    width: 200px;
    border: 2px solid black;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 14px;
    border: none;
    margin: 12px 0;
}

.information {
    padding-bottom: 80px;
}

.information-content {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.info, .information-text {
    text-align: center;
}

.quote {
    text-align: center;
    padding: 80px;
    background-color: #E5E7EB;
}

.cta {
    background-color: #3882F6;
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: 500px;
    margin: 10px auto;
}

.cta-container {
    display: flex;
    justify-content: space-between;
}

.cta-container p {
    font-size: smaller;
}

.cta button {
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    padding: 4px;
}

.footer {
    text-align: center;
    margin-top: auto;
    padding: 20px 0;
}